#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.task-tracker {
  padding: 1rem;
  /* max-width: 800px; */
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-direction: column;
}

.add-task-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.header-second-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 90%;
}

.sort-label {
  font-size: 1.5rem;
  color: black;
}

.task-card {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  /* width: 800px; */
  margin-bottom: 1rem;
}

.task-header {
  background-color: #A2DC35;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.search-task {
  display: flex;
  flex-direction: row;
}

.task-id {
  font-size: 1.2rem;
}

.task-info {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  overflow: hidden;
  position: relative;
}

.task-content {
  display: flex;
  /* justify-content: space-between; */
  padding: 1rem;
}

.task-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 300px;
}

.task-name {
  font-size: 1.2rem;
}

.task-description {
  /* margin-top: 0.2rem; */
  font-size: 1rem;
  color: #000000;
}

.task-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  text-align: right;
  width: 300px;
}

.task-deadline {
  font-size: 1rem;
}

.delete-task-btn {
  width: 90px;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
  background-color: #ba3939c4;
}

.task-status select {
  /* margin-top: 0.2rem; */
  padding: 0.3rem;
}

.task-dates {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: black;
  background-color: #dcdcdc;
  padding: 0.5rem;
  text-align: left;
  align-self: flex-start;
  margin-left: 1rem;
  width: 200px;
}

.server-info {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  background-color: #f9f9f9;
}

.file-content {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  background-color: #f9f9f9;
}
